body {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

.hidden {
    display: none !important;
}

#error.hidden {
    display: none;
}

#error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background-color: #0078d7;
    padding: 16px;
}

#error .left-column {
    display: flex;
    flex-direction: column;
}

.sad-face {
    font-size: 50px;
    color: #fff;
    line-height: 44px;
    margin: 0;
    min-width: 40px;
}

#error .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error .right-column p {
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    margin: 0;
}

#coordinates {
    text-align: center;
}

#copyButton {
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2196f3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#copyButton:hover {
    background-color: #0d8bf1;
}

#copyButton:active {
    background-color: #0b75c9;
}

#copyButton.copied {
    background-color: #4caf50;
}
